version: 2
updates:
  - package-ecosystem: uv
    directory: '/'
    schedule:
      interval: weekly
    groups:
      dependencies:
        patterns:
          - '*'
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    groups:
      dependencies:
        patterns:
          - '*'
